@model dynamic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body class="container mt-5">
    <div class="alert alert-primary">
        <h1>O resultado da @Model.Operacao é: @Model.Resultado</h1>
    </div>
</body>
</html>